.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    
    
}
.navbar{
  display: flex;
  width: 1560px;
  position: relative;
  
}
.menubar{
  padding-left: 56px;
}
.menubar img{
  padding: 9px;
  
}



.searchbar{
  display: flex;
  padding-left: 50px;
  
}
.searchbar img{
  height: 30px;
  width: 30px;
}
.searchbar input{
  border-style: none;
  padding-left: 20px;
}
.navbarbtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
}
.navbarbtn img{
  height: 30px;
  width: 30px;
}
.navbarbtn button{
  background-color: transparent;
  
  border-style: none;
}
.navbarbtn .profile{
  padding-left: 65px;
}
.navbarbtn .username{
  padding-left: 15px;
}


.navbarbtn .downarrow{
  padding-left: 6px;
  display: none;
}
.downarrow button{
  
  background-color: transparent;
  border-style: none;
  
}

  
  .mainDashboardPage{
    display: flex;
    flex-direction: row;
  }
  .sidebar{
    width: 430px;
height: 1279px;
display: flex;
justify-content: flex-start;


  }
.sidebar nav ul li{
    margin: 24px;
padding: 2px;



}
  .sidebar ul{
    list-style: none;

    
    
  }
  .img-text{
    display: flex;
    flex-direction: row;
  }
.sidebar ul li img{
    height: 35px;
    width: 25px;
}
.navbar-link{
    top: 168px;
    left: 75px;
    width: 60px;
    height: 21px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    list-style: none;

}
.nav-items{
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 183px;
    padding-left: 18px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    --bs-nav-link-color: #3E3E3E;
    margin: 0px;
    padding: 5px;
}
.sidebar nav ul li img{
    top: 171px;
left: 46px;
width: 25px;
height: 25px;
/* UI Properties */
color: black;
opacity: 1;
}
.nav-items a{
    text-decoration: none;
    font-size: 19px;
}

#icon1{
    top: 105px;
left: 30px;
width: 206px;
height: 43px;
background: #FFF3F4 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;

}
#icon1 a{
    top: 115px;
left: 75px;
width: 78px;
height: 21px;
/* UI Properties */
text-align: left;
font: normal normal normal 16px/21px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;
margin: 5px 5px;
}
#icon1 img{
    margin-top: 0px;
}
  

.dashboard{
    top: 0px;
left: 0px;
width: 1560px;
height: 1235px;
/* UI Properties */

background: #FAFAFA 0% 0% no-repeat padding-box;
opacity: 1;

}
.dashboardHeader p{
    top: 121px;
left: 290px;
width: 146px;
height: 39px;
text-align: left;
font: normal normal medium 30px/39px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1;
font-size: 30px;
margin-top: 35px;

}
.div-2li{
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;

}

.div-2li-div1{
  background-color: #ffffff;
  padding: 2rem;
  float: left;
  width: 70%;
}

.div-2li-p{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.div-2li-innerp1{
  font-size: 1.6rem;
  font-weight: 800;
}

.div-2li-innerp2 span{
  margin: 0.4rem;
  font-size: 1.3rem;
}

.div-2li-active-span{
  color: #C8242F;
  text-decoration: underline;
}

.div-2li-div2{
  width: 26%;
  background-color: #ffffff;
  float: right;
  height: 100%;
  padding: 1rem;
}

.div-2li-span{
  font-size: 1.6rem;
  margin: 1rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}

.pi-col{
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  clear:both;

}

.pi-col-1{
  background-color: #C8242F;
}

.pi-col-2{
  background-color: #A2B86C;
}

.pi-col-3{
  background-color: #F16C20;
}

.pi-col-4{
  background-color: #EBC844;
}

.pi-col-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pi-col-spacebet{
  justify-content: space-between;
}

.pi-col-span{
  margin: 1rem;
}

.pi-col-p{
  font-size: 1.2rem;
  margin: 0.3rem;
}

.maintitleContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.titleContainer{
  border: 2px solid red;
    display: flex;
    width: 18.5%;
    height: 116px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    justify-content: center;
    align-items: center;
}

.titleContainer img{
    top: 223px;
left: 330px;
width: 33px;
height: 33px;
opacity: 1;
margin-right: 19px;
}
.bigheader p{
    top: 213px;
left: 383px;
width: 77px;
height: 7px;
/* UI Properties */
text-align: left;
font: normal normal medium 25px/33px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
font-size: 25px;
font-weight: bold;
}
.smallheader p{
    top: 244px;
left: 878px;
width: 97px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
padding-top: 17px;
}



.mainSection{
    height: 958px;
    width: 1330px;
}
.saleSection{
    height: 400px;
    display: grid;
    grid-template-columns: 900px 900px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.saleSection .salegraph{
  width: 802px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
}
.salegraph img{
  width: 802px;
}

#yearly{
  color: red;
  border-bottom: 1px solid red;
}
.mybtn{
    padding: 18px;
}
.titlebarofgraph{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 52px;
    padding: 25px;
}
.titlebarofgraph button{
    border-style: none;
    border: none;
    background-color: transparent;
}

.salebycountry{
    
    height: 52x;
    margin-left: 95PX;
    width: 385px;
}
.rowcontainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -60px;

  
}
/*.firstrow{
  margin: 36px;
  padding: 5px;
}*/
.secondrow{
  margin: 5px;
  padding: 5px;
}
ul li{
  list-style: none;
}

.usa-circle{
  height: 14px;
  width: 14px;
  background-color:#C8242F;
  border-radius: 100%;
  
}
.russia-circle{
  height: 14px;
  width: 14px;
  background-color:#F16C20;
  border-radius: 100%;
  
}
.india-circle{
  height: 14px;
  width: 14px;
  background-color:#EBC844;
  border-radius: 100%;
  
}
.canada-circle{
  height: 14px;
  width: 14px;
  background-color:#A2B86C;
  border-radius: 100%;
  
}
.item{
  display: flex;
  padding: 9px;
  align-items: center;
  padding-left: 5px;
  justify-content: space-betweens;
}
.invoicenavbar{
    display: flex;
    justify-content: space-between;
}
#viewallbtn button{
    background-color: transparent;
    border-style: none;
    color:#C8242F;
    margin-top: 15px;
    font-size: 15px;
}
.table{
    margin-top: 20px;
    padding: 5px;
    
}
.table tr{
    padding: 5px;
    margin: 15px;
    margin: 15px;
    width: 360px;
    height: 43px;
}
.table th{
    padding-bottom: 14px;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: normal;
    color: #ADADAD;
    padding: 15px;
    margin: 15px;
   
    
}
.table tr th{
  width: 50px;
}
.table th{
  top: 846px;
left: 762px;
width: 50px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 1.5px;
color:  ;
opacity: 1;
}
.table td{
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    line-height: 20px;
    color: #3E3E3E;
    padding: 5px;
    width: 340px;
    height: 2px;
}
.table .status{
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #EBFFEF;
    color: #3CDD5F;
}
.table .statuspending{
  top: 1128px;
left: 1202px;
width: 54px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #BABABA;
opacity: 1;
}
.table .statusfailed{
  top: 1081px;
left: 1202px;
width: 40px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #FF4545;
opacity: 1;
}

th,td{
  border-bottom: 1px solid #ADADAD;
  
}



/*  Media query  */

@media(max-width:900px){
  .maintitleContainer{
    display: flex;
    flex-wrap: wrap;
    
  }
  .div-2li-div1 img{
    width: 100%;
  }
  .div-2li{
    display: block;
    float: none;
    clear: both;

  }
  .div-2li-div1{
    display: block;
    width: 100%;
    float: none;
  }
  .div-2li-div2{
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    float: none;

  }
  .div-2li-div2 img{
    width: 10%;
    display: block;
    margin: auto;
  }
  .invoicesSection{
    display: block;
  }

  .invoicesSection th, .invoicesSection td{
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px){

    .navbarbtn{
      display: none;
    }
    .navbarbtn .downarrow{
      display: block;
      position: relative;
    
    }
    .navbar{
      height: 100px;
    }
    .menubar img{
      height: 100px;
      width: 383px;
    }
    
    .searchbar{
      display: none;
    }
    .downarrow img{
      height: 100px;
      width: 200px;
    }
    .sidebar{
      display: none;
    }
    .dashboard{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 205px;
    }
    .dashboardHeader{
      display: flex;
      justify-content: center;
      
    }
    .dashboardHeader p{
      font-size: 90px;
      margin-top: 600px;
    }
    .maintitleContainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top:100px;
      
      
      
    }
    .titleContainer{
      padding: 100px;
    }
    .titleContainer img{
      height: 100px;
      width: 200px;
      
    }
    .titleContainer .bigheader p{
        font-size: 45px;
    }
    .titleContainer .smallheader p{
       font-size: 35px;
       padding-top: 50px;
    }
    .mainSection{
      display: flex;
      flex-direction: column;
    }
    .saleSection{
      display: flex;
      flex-direction: column;
      height:816px;
      width: 100%;
    }
    .saleSection .salegraph{
      height: 200px;
      width: 100%;
    }
    .saleSection .datagraphimg img{
      width: 100%;
    }
    .table{
      width: 100%;
    }


    

}



@media only screen and (min-width:600px)  and (max-width: 767px){
  body{
    
  }
}



@media only screen and (min-width:768px)  and (max-width: 991px){
  body{
    
  }
}



@media only screen and (min-width:992px)  and (max-width: 1199px){
  body{
    
  }
}



@media only screen and (min-width:1200px)  and (max-width: 1720px){
  body{
    
  }
}


