body{
    top: 0px;
left: 0px;
width: 1560px;
height: 720px;;
background: #FAFAFA 0% 0% no-repeat padding-box;
opacity: 1;
}
.mainContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 100vh;
}
.imageSection{
    justify-content: center;
    display: flex;
    
}
.imageSection img{
  
  height: 576px;
  
  top: 72px;
  left: 166px;
  border: 20px solid #FFFFFF;
  box-shadow: 0px 4px 31px #0000000A;
  opacity: 1;
  border-radius: 50%;
}
.userDetailsSection{
    justify-content: flex-start;
    padding: 100px;
}
.logo img{
    height: 58px;
    width: 272px;
    top: 106px;
    left: 906px;
    opacity: 1;
}
.mainHeader{
    width: 500px;
}
.mainHeader p{
    font-size:40px;
    top: 183px;
    left: 905px;
    width: 500px;
    height: 100px;
}
/*#specialText{
  color: #C8242F;
  top: 183px;
left: 1036px;
width: 137px;
height: 53px;

text-align: left;
font: normal normal 900 40px/53px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;
}*/
.smallHeader p{
    top: 315px;
left: 904px;
width: 260px;
height: 33px;
/* UI Properties */
text-align: left;
font: normal normal normal 25px/33px Roboto;
letter-spacing: 0px;
color: #3E3E3E;
opacity: 1;
font-size: 25px;

}
.username{
    padding: 10px;
}
.password{
    padding: 10px;
}

#username{
    top: 386px;
left: 921px;

/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
}

#password{
    top: 461px;
left: 921px;


/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;

}
.password input{


    top: 448px;
   left: 907px;
   width: 429px;
   height: 49px;
   /* UI Properties */
   background: #FFFFFF 0% 0% no-repeat padding-box;
   border: 1px solid #ADADAD;
   border-radius: 5px;
   opacity: 1;
   padding: 4px;
   
   
   }
.username input{
    top: 372px;
    left: 907px;
    width: 429px;
    height: 49px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    padding: 4px;
    
    
}
.btn{
    padding: 10px;
    display: flex;
    width: 455px;
    justify-content: space-between;
}
.btn button{
    
    top: 527px;
    left: 906px;
    width: 138px;
    height: 45px;
    /* UI Properties */
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    border-style: none;
    
}
button a{
   
 top: 537px;
left: 953px;
width: 45px;
height: 24px;
font-size:18px ;
text-align: center;
font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;

}
.btn p{


top: 539px;
left: 1214px;
width: 121px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;

}
.newMember{
    display: flex;
    padding: 10px;
}
.newMember p{

    top: 595px;
left: 906px;
width: 160px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;

}
#registerhere{
    top: 595px;
left: 1070px;
width: 88px;
height: 20px;
/* UI Properties */
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #C8242F;
opacity: 1;
}


/*   Responsive css  */


/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width:360px)  and (max-width: 600px){
    body{
        
        
    }
    .mainContainer{
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-1{
        width: 360px;
        display: block;
    }
    .section-1 .imageSection img{
        height: 1000px;
        width: 1000px;
    }
    .logo img{
        height:168px;
        width: 680px;
    }
    .mainHeader p{
        font-size:60px;
        width: 700px;
        height: 150px;

    }
    .smallHeader p{
        width: 380px;
        height: 40px;
        font-size: 35px;
    }
    .username input{
        width: 613px;
        height: 86px;
    }
    .password input{
        width: 613px;
        height: 86px;
    }
    .btn button{
        width: 186px;
        height: 55px;
        border-radius: 30px;
    }
    .newMember p{
        width: 211px;
        height: 20px;
        font-size: 21px;
    }
 #registerhere {
        font: normal normal normal 21px/20px Roboto;
    }
    
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  
  @media only screen and (min-width: 600px) and (max-width: 767px) {
    body{
        background-color: aqua;
    }
    .mainContainer{
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   

    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  
  @media only screen and (min-width: 768px) and (max-width: 991px){
    body{
        background-color: orange;
    }
    .mainContainer{
        height: fit-content;
        display: block;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  
  @media only screen and (min-width: 992px)and (max-width: 1199px) {
    body{
        background-color: blue;
    }
    .mainContainer{
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px)and (max-width: 1720px) {
    body{
        background-color: pink;
    }
    .mainContainer{
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
  
    
  }

